<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotNetRDF" version="1.0.12" targetFramework="net472" />
  <package id="DynamicSPARQL" version="1.0.2.2" targetFramework="net40" requireReinstallation="true" />
  <package id="HelperExtensionsLibrary" version="1.0.0.4" targetFramework="net40" requireReinstallation="true" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net472" />
  <package id="LINQtoSPARQL" version="1.0.2.2" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.Data.SqlClient" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient.SNI" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="3.0.8" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.5.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="5.5.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.5.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.5.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.5.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net472" />
  <package id="RDFSharp" version="2.9.0" targetFramework="net472" />
  <package id="RDFSharp.Semantics" version="2.1.1" targetFramework="net472" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.5.0" targetFramework="net472" />
  <package id="VDS.Common" version="1.6.4" targetFramework="net472" />
</packages>