<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package userId="dotNetRDF" version="1.0.12" targetFramework="net472" />
  <package userId="DynamicSPARQL" version="1.0.2.2" targetFramework="net40" requireReinstallation="true" />
  <package userId="HelperExtensionsLibrary" version="1.0.0.4" targetFramework="net40" requireReinstallation="true" />
  <package userId="HtmlAgilityPack" version="1.4.9" targetFramework="net472" />
  <package userId="LINQtoSPARQL" version="1.0.2.2" targetFramework="net40" requireReinstallation="true" />
  <package userId="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package userId="MetroFramework" version="1.2.0.3" targetFramework="net472" />
  <package userId="MetroFramework.Design" version="1.2.0.3" targetFramework="net472" />
  <package userId="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net472" />
  <package userId="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net472" />
  <package userId="MetroModernUI" version="1.4.0.0" targetFramework="net472" />
  <package userId="Microsoft.Data.SqlClient" version="1.1.0" targetFramework="net472" />
  <package userId="Microsoft.Data.SqlClient.SNI" version="1.1.0" targetFramework="net472" />
  <package userId="Microsoft.Identity.Client" version="3.0.8" targetFramework="net472" />
  <package userId="Microsoft.IdentityModel.JsonWebTokens" version="5.5.0" targetFramework="net472" />
  <package userId="Microsoft.IdentityModel.Logging" version="5.5.0" targetFramework="net472" />
  <package userId="Microsoft.IdentityModel.Protocols" version="5.5.0" targetFramework="net472" />
  <package userId="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="5.5.0" targetFramework="net472" />
  <package userId="Microsoft.IdentityModel.Tokens" version="5.5.0" targetFramework="net472" />
  <package userId="Newtonsoft.Json" version="10.0.1" targetFramework="net472" />
  <package userId="RDFSharp" version="2.9.0" targetFramework="net472" />
  <package userId="RDFSharp.Semantics" version="2.1.1" targetFramework="net472" />
  <package userId="System.Data.Common" version="4.3.0" targetFramework="net472" />
  <package userId="System.Data.DataSetExtensions" version="4.5.0" targetFramework="net472" />
  <package userId="System.IdentityModel.Tokens.Jwt" version="5.5.0" targetFramework="net472" />
  <package userId="VDS.Common" version="1.6.4" targetFramework="net472" />
</packages>