<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TriadPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TriadPad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TriadPad.Properties.Settings>
            <setting name="OptionFileName" serializeAs="String">
                <value>Options.opt</value>
            </setting>
        </TriadPad.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <TriadPad.Properties.Settings>
            <setting name="FormMainState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FormMainLocationX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FormMainLocationY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FormMainWidth" serializeAs="String">
                <value>904</value>
            </setting>
            <setting name="FormMainHeight" serializeAs="String">
                <value>512</value>
            </setting>
        </TriadPad.Properties.Settings>
    </userSettings>
</configuration>